body {
  background-color: #001829;
  color: white;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

h1 {
  margin-top: 5%;
  text-align: center;
}

#output {
  font-size:xx-large;
  font-weight:300;
}

.btn-dark {
  margin-top: 2%;
}

img {
  margin-top: -5%;
  float: right;
  width: 50%;
  height: 50%;
}